:root{
  --fontKarla: 'Karla', sans-serif;
  --fontInter: 'Inter', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: var(--fontKarla);
}


button{
  font-family: var(--fontKarla);
}

/* START SCREEN */

.start-screen{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #F5F7FB;
}

.start-screen--menu{
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start-screen::before, 
.start-screen::after{
  content: "";
  position: fixed;
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
}

.start-screen::before{
  background-image: url(../src/assets/blob1.png);
  top: 0;
  right: 0;
  background-size: cover;
}
.start-screen::after{
  background-image: url(../src/assets/blob2.png);
  bottom: -40px;
  left: -10px;
  background-size: contain;
}

.menu--title{
  font-family: var(--fontKarla);
  font-size: 31.25px;
  font-weight: 700;
  line-height: 36.53px;
  color: #293264;
}

.menu--description{
  font-family: var(--fontInter);
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  color: #293264;
  margin-top: 10px;
  text-align: center;
}

.menu--button{
  background-color: #4D5B9E;
  width: 193px;
  height: 52px;
  border: none;
  border-radius: 15px;
  color: #F5F7FB;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
  text-align: center;
  margin-top: 30px;
  cursor: pointer;
}

.menu--button:hover{
  color: #fcfdfe;
  background-color: rgb(61, 54, 54);
}

.menu--button:active{
  transform: translateY(2px);
}



/* QUIZZ PAGE */

.quiz-page{
  background-color: #F5F7FB;
  padding: 75px 100px;
  height: 100%;
  min-height: 100vh;
}

.quiz-page--container{
  position: relative;
  z-index: 2;
}


.quiz-page::before, 
.quiz-page::after{
  content: "";
  position: fixed;
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
}

.quiz-page::before{
  background-image: url(../src/assets/blob1.png);
  top: -24px;
  right: -20px;
  background-size: cover;
}
.quiz-page::after{
  background-image: url(../src/assets/blob2.png);
  bottom: -80px;
  left: -30px;
  background-size: contain;
}

.quiz-element{
  margin-bottom: 15px;
}

.quiz-element--question{
  font-weight: 700;
  line-height: 18.7px;
  color: #293264;
}

.quiz-element--buttons-container{
  display: flex;
  margin-top: 12px;
}

.quiz-element > hr{
  margin-top: 15px;
  width: 80%;
  border: 0.79px solid #DBDEF0
}

.quiz-element--answers{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 10px;
  color: #293264;
  font-family: var(--fontInter);
  font-size: 14px;
  font-weight: 500;
  line-height: 12.39px;
  border: 0.79px solid #4D5B9E;
  border-radius: 10px;
  background-color: transparent;
  margin-right: 15px;
  cursor: pointer;
}

.quiz-element--answers:active{
  transform: translateY(2px)
}

